header {
    background-color: #CDCDCD;
    padding: 0 20px;
}

header, menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
    padding-left: 15px;
}